a:hover{
    cursor: pointer;
}

.img-container {
    position: relative;
  }
  
  .img-hover {
    transition: opacity 0.3s;
    width: 350px;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .img-container:hover .img-hover {
    opacity: 0.5;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .img-container:hover .overlay {
    opacity: 1;
  }