<div class="row">
    <div class="col-12">
        <form action="" class="form col-12">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="write your comments here" aria-label="Recipient's username" [(ngModel)]="text"  name="commentText" aria-describedby="button-addon2">
                <button (click)="addComment()" class="btn btn-outline-secondary bi bi-send" type="button" id="button-addon2"></button>
              </div>
        </form>
    </div>
</div>
