<div class="container-fluid">
  <div class="row p-3" style="align-items: center;">
    <div class="col-sm-12 col-md-8 col-lg-9 text-center text-md-start text-lg-start">
      <p style="align-items: center;">
        <img [src]="logo" alt="logo" width="45px" height="45px">
        <span class="ms-2 fs-4">InSta<span style="color:#4B70F5 ;">Vibe</span></span>
      </p>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-3 ">
      <ul style="padding: 0; margin: 0;">
        <li routerLink="home" title="Home" routerLinkActive="active"><i class="bi bi-house"></i></li>
        <li routerLink="search" title="search" routerLinkActive="active"><i class="bi bi-search"></i></li>
        <li routerLink="createpost" title="Create" routerLinkActive="active"><i class="bi bi-plus-square"></i></li>
        <li routerLink="fovourites" title="Favorites" routerLinkActive="active"><i class="bi bi-heart"></i></li>
        <li routerLink="profile" title="Profile" routerLinkActive="active"><i class="bi bi-person-circle"></i></li>
        @if(!authService.isUserLoggedIn() ){
        <li routerLink="login" title="Login" routerLinkActive="active"><i class="bi bi-box-arrow-in-right"></i></li>
        }@else {
        <li title="Logout" (click)="logoutUser()"><i class="bi bi-box-arrow-right"></i></li>
        }

      </ul>
    </div>
  </div>
</div>
<div class="container">
</div>
<router-outlet></router-outlet>