<div class="grid text-center mt-5 animate_div">
    <div class="offset-4 col-4">
        <form [formGroup]="loginForm" action="\" class="form border border-primary p-5 rounded">
            <h2 style="color: #4B70F5;" class="fs-2 text-center">Login</h2>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" formControlName="email" name="email" id="formId1"
                    placeholder="Email" />
                <label style="color: black;" for="formId1">Email</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" formControlName="password" name="password" id="formId1"
                    placeholder="password" />
                <label style="color: black;" for="formId1">Password</label>
            </div>
            <div class="mt-3" style="font-size: small;">

                <p style="line-height: 3px;">Don't have an account?<a routerLink="/signup"
                        style="text-decoration: none;"> Create account</a></p>

            </div>
            <button [disabled]="loginForm.invalid" (click)="login()" class="btn"
                style="background-color: #4B70F5; color: white;">Login</button>
            @if(loginerr){

            <p class="mt-3 text-danger">Invalid Credentials</p>
            }

        </form>
    </div>
</div>