<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="input-group mb-3">
                <input [(ngModel)]="searchText" name="searchText" type="text" class="form-control" placeholder="Search"
                    aria-label="Recipient's username" aria-describedby="button-addon2">
                <button (click)="searchByText(searchText)" class="btn btn-outline-secondary" type="button"
                    id="button-addon2"><i class="bi bi-search text-white"></i></button>
            </div>

            <div class="col-12">
                <p class="d-flex justify-content-between align-items-center">
                    Categories:
                    <span style="cursor: pointer;" (click)="searchByCatelog('scenery')"
                        class="bg-dark p-2 rounded text-capitalize">sceneries</span>
                    <span style="cursor: pointer;" (click)="searchByCatelog('river')"
                        class="bg-dark p-2 rounded text-capitalize">rivers</span>
                    <span style="cursor: pointer;" (click)="searchByCatelog('mountains')"
                        class="bg-dark p-2 rounded text-capitalize">mountains</span>
                    <span style="cursor: pointer;" (click)="searchByCatelog('cars')"
                        class="bg-dark p-2 rounded text-capitalize">cars</span>
                    <span style="cursor: pointer;" (click)="searchByCatelog('bike')"
                        class="bg-dark p-2 rounded text-capitalize">bikes</span>
                    <span style="cursor: pointer;" (click)="searchByCatelog('animal')"
                        class="bg-dark p-2 rounded text-capitalize">animals</span>
                    <span style="cursor: pointer;" (click)="searchByCatelog('cartoons')"
                        class="bg-dark p-2 rounded text-capitalize">cartoons</span>
                    <span style="cursor: pointer;" (click)="searchByCatelog('technology')"
                        class="bg-dark p-2 rounded text-capitalize">technology</span>
                </p>
            </div>
        </div>
    </div>
    <!-- <div class="row ">
        <p>Search Results</p>
        @for (item of filteredList; track $index) {
        <div class=" col-sm-12 col-md-6 col-lg-4 col-xl-3 d-flex gap-1 justify-content-center animate_div">

            <div class="card bg-dark text-white  mt-3" style="width: 420px; height: 320px;">
                <p class="p-2 border-bottom">
                    <img width="40px" class="rounded-circle" [src]="item.profilePic" alt="profile photo"><span
                        class="ms-3">{{item.username}}</span>
                </p>
                <div class="card-body d-flex justify-content-center position-relative">
                    <img class="" fill [ngSrc]="item.display" alt="display photo">
                </div>
                <div class="card-footer d-flex justify-content-between ">
                    <div>
                        <i title="like" class="bi bi-heart"><small class="ms-1">100</small></i>
                        <i title="comments" class="bi bi-chat-right ms-3"><small class="ms-1">99</small></i>
                    </div>
                    <div><i title="save" class="bi bi-bookmark"></i></div>
                </div>
            </div>
        </div>
        }
    </div> -->
    <p>Search Results</p>

    <div class="row g-4">
        @if(isLoading){
        <div class="text-center">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        }@else {
        @if(Msg){
        <p class="text-center fs-2">{{Msg}}</p>
        }@else{

        @for (item of items; track $index) {
        <div class="col-sm-12 col-md-6 col-lg-4 d-flex justify-content-center p-2">
            <div class="img-container">
                <img [src]="serverUrl+'/uploads/'+item.displayImg" alt="" class="img-hover rounded">
                <div class="overlay d-flex">
                    <div class="position-absolute top-0 ps-2 text-capitalize">
                        <img [src]="serverUrl+'/uploads/'+item.userId.profilePic" width="50" height="50" alt=""
                            style=" border-radius: 100%; object-fit: cover; aspect-ratio: 1;" class="me-2 mt-1">
                        {{item.userId.username}}
                    </div>
                    <div class="position-absolute bottom-0 ps-2 pb-1">
                        <div>{{item.title}}</div>
                        <i [ngClass]="item.likes?.includes(userDetails._id)? 'bi bi-heart-fill text-danger me-4':'bi bi-heart me-4'"
                            (click)="likePost(item._id)"><span class="text-white">
                                {{item.likes?.length ? item.likes.length:0}}</span></i>
                        <i class="bi bi-chat" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
                            aria-controls="offcanvasExample" (click)="setItemID(item._id)"> {{item.commentsCount}}</i>
                    </div>
                    <div class="position-absolute bottom-0 end-0 pe-2 pb-1">
                        <i (click)="savePost(item._id)"
                            [ngClass]="userDetails.savedPosts.includes(item._id)? 'bi bi-bookmark-fill':'bi bi-bookmark'"></i>
                    </div>
                </div>
            </div>
        </div>

        }
        }


        }
    </div>

    <app-comments (commentsUpdated)="updateComments($event)"></app-comments>
</div>